# Hide and style scrollbar globally for dark theme body,
* {
  scrollbar-color: #232a3a #18181b;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 8px;
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #232a3a;
  border-radius: 8px;
}
::-webkit-scrollbar-corner {
  background: #18181b; /* Match your dark background */
}
#root,
body {
  background: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
